---
layout: splash
header:
  overlay_color: rgb(205,100,30);
  # overlay_color: "#000"
  # overlay_filter: "0.5"
  # overlay_image: /assets/images/shayne-house-ZSh_LigA14k-unsplash.jpg
  # overlay_image: /assets/images/alessandro-bellone-lVcvwLLofRg-unsplash.jpg
  # overlay_image: /assets/images/bearpenguincrop.jpg
  # actions:
  #  - label: "Register"
  #    url: "https://ti.to/open-source-salon/berlin2019"
  # caption: "Photo credit: [Shayne House/Unsplash](https://unsplash.com/photos/ZSh_LigA14k)"
  # caption: "Photo credit: [Alessandro Bellone/Unsplash](https://unsplash.com/photos/lVcvwLLofRg)"
excerpt: 'The **Berlin Open Source Salon** is a half day conference exploring the changing nature of open source in 2019. New licenses, new attitudes, and new ideologies. Crypto vs. Open Source. Venture Investing & Open Source. Going beyond code licenses - portable data, data ethics, and more.'
feature-logo:
  - image_path: /assets/images/brownbearpenguin-white-squarecrop.png
    image_alt: "A Berlin bear drinking mate discussing with an open source penguin"
    excerpt: "_Cherry Ventures and FISSION are collaborating to host the first Open Source Salon: an event to discuss open source and it's place in the world of software and beyond in 2019. Scheduled at the end of Berlin Blockchain Week, we will connect the worlds of crypto and open source -- including exploring the tension that occasionally exists between them!_"
feature-presenting:
  - image_path: /assets/images/cherryventures.jpg
    alt: "Cherry Ventures"
    excerpt: 'The Berlin Open Source Salon is proudly presented by Cherry Ventures.'
    url: "http://www.cherry.vc"
  - image_path: /assets/images/bbw.png
    excerpt: 'Part of Berlin Blockchain Week'
    url: "https://www.blockchainweek.berlin/"
  - image_path: /assets/images/fission.png
    excerpt: 'Produced by FISSION'
    url: https://fission.codes
sidebar:
#  - title: "Presented by Cherry Ventures"
    # image: /assets/images/cherryventures.jpg
    # image_alt: "Cherry Ventures Logo"
#    text: '<a href="http://www.cherry.vc"><img src="/assets/images/cherryventures.jpg" alt="Cherry Ventures Logo"/></a>'
#  - title: "Part of Berlin Blockchain Week"
#    text: '<a href="https://www.blockchainweek.berlin/"><img src="/assets/images/bbw.png" alt="Berlin Blockchain Week Logo"/></a>'
---

{% include feature_row id="feature-logo" type="center" %}

{% comment %}
<h2 id="updates">Updates</h2>
<div>
{% for post in paginator.posts limit: 1 %}
  {% include archive-single.html %}
{% endfor %}
</div>
{% endcomment %}

<h2 id="register">Register</h2>

<tito-widget event="open-source-salon/berlin2019"></tito-widget>

<p>You can also register directly on the <a href="https://ti.to/open-source-salon/berlin2019">ticketing page</a>.</p>

<p>We are happy to support students and other individuals who have financial hardship and would still like to attend. Please contact us to receive a complimentary ticket.</p>

{% comment %}
<p>Our tickets are not quite ready to go live yet! Are you interested in being involved, or get notified when tickets go live? Fill out your email address and we'll be in touch:</p>

<div style="margin-left: 15%; margin-right: 15%; padding: 20px 0 20px 0">
<form class="register-interest-form">
  <div class="form-group">
    <input id="register-name" type="text" placeholder="Name" class="register-name" autocomplete="off">
    <input id="register-email" type="text" placeholder="Email" class="register-email" autocomplete="off" autocapitalize="off">
    <input type="submit" class="register-button" value="Sign Up">
  </div>
</form>
<p style="font-size: small; padding-top: 10px;">Or, <a href="https://ti.to/open-source-salon/berlin2019">register for updates directly on the registration page »</a></p>
</div>
{% endcomment %}

<h2 id="venue">Venue</h2>

<p>We're hosted at the wonderful <strong>Friends Space</strong> in Kreuzberg, Glogauer Str. 2 (<a href="https://goo.gl/maps/VgpYDifMn1vjyest8">map</a>)</p>

<h2 id="agenda">Agenda</h2>

<p>We're working on our agenda and speakers. This will be a half day afternoon conference, with some drinks and networking to follow.</p>

<p>In the evening from 20:00, we have the space available until 11pm and welcome people to come by to celebrate the end of Berlin Blockchain Week: do demos, hack on code, have a project contributor meeting -- anything that connects with open source.</p>

<table>
  <tr>
    <th>Time</th><th>Speaker</th><th>Presentation</th>
  </tr>
  <tr>
    <td>14:00</td><td colspan="2" style="text-align:center; text-transform: uppercase; font-weight: 700">Registration & Check-in</td>
  </tr>
  <tr>
    <td>14:30</td><td>Opening Remarks</td><td>Opening remarks and welcome to the event with Patrick Mayr (Cherry Ventures) and Boris Mann (FISSION)</td>
  </tr>
  <tr>
    <td>16:15</td><td colspan="2" style="text-align:center; text-transform: uppercase; font-weight: 700">Lemonade Break</td>
  </tr>
  <tr>
    <td>18:30</td><td>Closing Remarks</td><td>Closing remarks and thank you to speakers & attendees, with Patrick Mayr (Cherry Ventures) and Boris Mann (FISSION)</td>
  </tr>
  <tr>
    <td>18:45</td><td colspan="2" style="text-align:center; text-transform: uppercase; font-weight: 700">Drinks, Snacks, & Networking</td>
  </tr>
  <tr>
    <td>20:00</td><td colspan="2" style="text-align:center; text-transform: uppercase; font-weight: 700">Open Space, all are welcome until 23:00</td>
  </tr>
</table>

<h2 id="organizers">Organizers</h2>

{% include feature_row id="feature-presenting" %}


