---
layout: splash
title: "Berlin<br/>Open Source<br/>Salon"
date: Aug 29th, 2019
header:
  overlay_color: rgb(255, 158, 127);
excerpt: 'A half day conference exploring the changing nature of open source. New licenses, new attitudes, and new ideologies. Crypto vs. Open Source. Venture Investing & Open Source. Going beyond code licenses - portable data, data ethics, and more.'
feature-logo:
  - image_path: /assets/images/bear-penguin.svg
    image_alt: "A Berlin bear drinking mate discussing with an open source penguin"
    class: "feature__item--overlap"
    excerpt: >
      <p>Cherry Ventures and FISSION are collaborating to host the first Open Source Salon: an event to discuss open source and its place in the world and beyond in 2019.</p>

      <p>Scheduled at the end of <a href="https://www.blockchainweek.berlin">Berlin Blockchain Week</a>, we will connect the worlds of crypto and open source -- including exploring the tension that occasionally exists between them!</p>

      <a href="#register" class="btn btn--primary">Register</a>
feature-presenting:
  - image_path: /assets/images/cherryventures.png
    alt: "Cherry Ventures"
    excerpt: 'The Berlin Open Source Salon is proudly presented by Cherry Ventures.'
    url: "http://www.cherry.vc"
    class: "text-center"
  - image_path: /assets/images/bbw.png
    excerpt: 'Part of Berlin Blockchain Week'
    url: "https://www.blockchainweek.berlin/"
    class: "text-center"
  - image_path: /assets/images/fission.png
    excerpt: 'Produced by FISSION'
    url: https://fission.codes
    class: "text-center"
split-pane-register:
  - first: >
      <h2>Would you like to pay with crypto?</h2>
      <p>We are <a href="https://tickets.unlock-protocol.com/event/0x98c0cbF0e9525f1a6975A51c9D5E8e063c034D6D">accepting DAI using Unlock Protocol »</a></p>
    second: >
      <h2>Need a student ticket?</h2>
      <p>We are happy to support students and other individuals who have financial hardship and would still like to attend. Please <a href="https://ti.to/open-source-salon/berlin2019/with/o5zy-tvy354">register directly for a student ticket »</a></p>
---

{% include feature_row id="feature-logo" type="left" %}

{% comment %}
<h2 id="updates">Updates</h2>
<div>
{% for post in paginator.posts limit: 1 %}
  {% include archive-single.html %}
{% endfor %}
</div>
{% endcomment %}

<figure class="image-with-overlay" id="venue">
  <img src="/assets/images/Freunde-von-Freunden-The-Sooner-Now-2451-1600x1068.jpg" />
  <div class="image-with-overlay__overlay">
    <h2>Venue</h2>
    <p>We're hosted at the wonderful <strong>Friends Space</strong> in Kreuzberg, Glogauer Str. 2</p>
    <a href="https://goo.gl/maps/VgpYDifMn1vjyest8" class="btn btn--light-outline">View Map</a>
  </div>
</figure>

<div class="wrapper">
  <h2 id="speakers">Speakers</h2>

  <ul class="speakers-list">
    <li class="speakers-list__speaker">
    <img src="/assets/images/speakers/elef.jpg"/>
    <h3>Coordination problems, FOSS and crypto-currencies</h3>
    <h4>Eleftherios Diakomichalis, OSCoin</h4>
    <p>Eleftherios is the cofounder of Monadic, building <a href="https://oscoin.io">OSCoin</a> and <a href="https://radicle.xyz">Radicle</a>. Find him on Twitter <a href="https://twitter.com/lftherios">@lftherios</a>.</p>
    </li>

    <li class="speakers-list__speaker">
        <img src="/assets/images/speakers/dandelion-mane.jpeg"/>
    <h3>SourceCred: Building an Open Source Economy</h3>
    <h4>Dandelion Mane, Protocol Labs</h4>
    <p>Dandelion has led development on a few different open-source software projects: SourceCred, TensorBoard (component of TensorFlow), and Plottable.js. Right now their main focus is on SourceCred and SourceGrain, a pair of projects that aim to create a sustainable funding model for open-source. They are a software engineer at <a href="https://protocol.ai/">Protocol Labs</a>, find them on Twitter <a href="https://twitter.com/decentralion">@decentralion</a>.</p>
    </li>
    
    <li class="speakers-list__speaker">
    <img src="/assets/images/speakers/paul.jpeg"/>
<h3>Open Source in Science & Pharma: From Patents to Open Markets</h3>
<h4>Paul Kohlhaas, Molecule</h4>
<p>Paul is the CEO & Co-founder of <a href="https://molecule.to/">Molecule</a>, find him on Twitter <a href="https://twitter.com/paulkhls">@paulkhls</a>.</p>
</li>

<li class="speakers-list__speaker">
<img src="/assets/images/speakers/simon.jpeg" />
      <h3>Fireside Chat: Simon Willnauer, Elastic Founder</h3>
      <p>Simon is a founder & core Lucene hacker of <a href="https://www.elastic.co/">Elastic</a>. A "fireside chat" style candid discussion with his thoughts on licensing, busines and open source, changes from the past to today of open source, and more. Find him on Twitter <a href="https://twitter.com/s1m0nw">@s1m0nw</a>.</p>
    </li>

<li class="speakers-list__speaker">
    <img src="/assets/images/speakers/jan.jpeg"/>
<h3>Jovo: Building an open source business in Germany in 2019</h3>
<h4>Jan König, Jovo</h4>
<p>Jan König is one of the founders of <a href="https://www.jovo.tech/">Jovo</a>, the most popular open source framework for voice applications that work across platforms like Amazon Alexa and Google Assistant. Find him on Twitter <a href="https://twitter.com/einkoenig">@einkoenig</a>.</p>
</li>

    <li class="speakers-list__speaker">
      <h3>Panel: Open Source & Venture Investing</h3>
      <h4>Moderator: <a href="https://www.linkedin.com/in/patrick-mayr-0bab7b14b/">Patrick Mayr</a>, Cherry Ventures</h4>
      <p>Open source software has always underpinned the infrastructure of the Internet and other parts of the economy at large. Yet up until recently parts of the investor community looked at the open source business model with skepticism. The emergence and exits of large companies such as Red Hat, Mulesoft, MongoDB, Elastic, Github etc., have demonstrated not only the viability, but enormous potential of the industry. Crypto, a new asset class built entirely on open source software has received unprecedented sums of money from investors. We’ll be chatting to investors to get their take.</p>
    </li>
  </ul>
</div>


<div class="content-block content-block--primary">

  <div class="wrapper">

    <h2 id="agenda">Agenda</h2>

    <p>This will be a half day afternoon conference, with some drinks and networking to follow. The date of the event is <strong>August 29th, 2019</strong>.</p>

    <p>In the evening from 20:00, we have the space available until 23:00 and welcome people to come by to celebrate the end of Berlin Blockchain Week &mdash; do demos, hack on code, have a project contributor meeting &mdash; anything that connects with open source.</p>

    <table>
      <thead class="visually-hidden">
        <tr>
          <th>Time</th>
          <th>Presentation</th>
          <th>Speaker</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>14:00</td>
          <td class="highlight">Registration & Check-in</td>
          <td></td>
        </tr>
        <tr>
          <td>14:30</td>
          <td>Opening Remarks</td>
          <td>Patrick Mayr, Cherry Ventures<br />Boris Mann, FISSION</td>
        </tr>
        <tr>
          <td>14:45</td>
          <td>Coordination problems, FOSS and crypto-currencies</td>
          <td>Eleftherios Diakomichalis, OSCoin</td>
        </tr>
        <tr>
          <td>15:15</td>
          <td>Jovo: Building an open source business in Germany in 2019</td>
          <td>Jan König, Jovo</td>
        </tr>
        <tr>
          <td>15:45</td>
          <td>Fireside Chat: Simon Willnauer</td>
          <td>Simon Willnauer, Elastic</td>
        </tr>
        <tr>
          <td>16:15</td>
          <td class="highlight">Lemonade Break</td>
          <td></td>
        </tr>
        <tr>
          <td>16:45</td>
          <td>SourceCred: Building an Open Source Econom</td>
          <td>Dandelion Mane, Protocol Labs</td>
        </tr>
        <tr>
          <td>17:00</td>
          <td>Panel: Open Source & Venture Investing</td>
          <td>Hosted by Patrick Mayr, Cherry Ventures</td>
        </tr>
        <tr>
          <td>17:30</td>
          <td>Open Source in Science & Pharma: From Patents to Open Market</td>
          <td>Paul Kohlhaas, Molecule</td>
        </tr>
        <tr>
          <td>18:00</td>
          <td>Fishbowl: Building Community and all things open source</td>
          <td>Fishbowl-style facilitated conversaton, hosted by Boris Mann, FISSION</td>
        </tr>
        <tr>
          <td>18:30</td>
          <td>Closing Remarks</td>
          <td>Patrick Mayr, Cherry Ventures<br />Boris Mann, FISSION</td>
        </tr>
        <tr>
          <td>18:45</td>
          <td class="highlight">Drinks, Snacks, & Networking</td>
          <td></td>
        </tr>
        <tr>
          <td>20:00</td>
          <td class="highlight">Open Space, all are welcome until 23:00</td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<div class="wrapper" id="organizers">

  <h2>Organizers</h2>

  <div class="organizers-list">
    {% include feature_row id="feature-presenting" %}
  </div>

</div>

<section id="register">
  <div class="wrapper">
    <h2>Register</h2>
    <tito-widget event="open-source-salon/berlin2019"></tito-widget>
  </div>

  {% include split-pane.html id="split-pane-register" %}
</section>
