/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  font-family: $global-font-family;
  font-size: $type-size-6;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $border-color;
  border-bottom: 2px solid mix(#fff, $primary-color, 20%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 1em 0;
  border-bottom: 1px solid mix(#fff, $primary-color, 20%);
}

td:empty::after {
  content: '';
  display: block;
  width: 80px;
  height: 1px;
  background-color: mix(#fff, $primary-color, 20%);
}

tr,
td,
th {
  vertical-align: middle;
}

.highlight {
  color: $info-color;
}